body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #ffffff;
    padding-top: 0px !important;
    background-color: #2a2a2a;
  }

nav{
    background-color: #2a2a2a;
    color: #ffffff;
}
.navbar-nav{
    color:white;
}
.nav-link{
    color:white;
}

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}
